/* =========================
   HEADER
========================= */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 105px;

  background: rgba(255,255,255,.85);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(0,0,0,.06);
  transition: .3s;
}

.header .container{
  max-width:1300px;
  width:90%;
  height:100%;

  margin:auto;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* =========================
   LOGO
========================= */

.logo{
  display:flex;
  align-items:center;
}

.logo-image{
  width:140px;
  height:auto;
  transition:.3s;
}

.logo:hover .logo-image{
  transform:scale(1.04);
}

/* Якщо не хочеш додавати className="logo-image",
   тоді працюватиме це правило */

.logo img{
  width:270px;
  height:auto;
  transition:.3s;
}

.logo:hover img{
  transform:scale(1.04);
}

/* =========================
   MENU
========================= */

.nav{

  display:flex;
  align-items:center;

  gap:42px;

}

.nav a{

  position:relative;

  font-size:17px;

  font-weight:600;

  color:#111;

  transition:.3s;

}

.nav a::after{

  content:"";

  position:absolute;

  left:0;

  bottom:-8px;

  width:0;

  height:2px;

  background:#C89B3C;

  transition:.3s;

}

.nav a:hover{

  color:#C89B3C;

}

.nav a:hover::after{

  width:100%;

}

/* =========================
   BUTTON
========================= */

.header-btn{

  background:#111;

  color:white;

  padding:14px 28px;

  border-radius:12px;

  font-weight:600;

  transition:.3s;

  box-shadow:0 10px 30px rgba(0,0,0,.12);

}

.header-btn:hover{

  background:#C89B3C;

  transform:translateY(-3px);

  box-shadow:0 15px 35px rgba(0,0,0,.18);

}

/* =========================
   BURGER
========================= */

.burger{

  display:none;

  font-size:34px;

  cursor:pointer;

}

/* =========================
   MOBILE MENU
========================= */

.mobile-menu{

  position:absolute;

  top:105px;

  left:0;

  width:100%;

  background:white;

  display:flex;

  flex-direction:column;

  gap:18px;

  padding:30px;

  box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.mobile-menu a{

  color:#111;

  font-size:18px;

  font-weight:500;

}

.mobile-btn{

  background:#111;

  color:white !important;

  padding:14px;

  border-radius:12px;

  text-align:center;

}

/* =========================
   MOBILE
========================= */

@media(max-width:900px){

.logo img{

width:220px;

}

.nav{

display:none;

}

.header-btn{

display:none;

}

.burger{

display:block;

}

}

@media(max-width:600px){

.header{

height:90px;

}

.logo img{

width:185px;

}

.mobile-menu{

top:90px;

}

}